body{
	background-color: #333333;
}

.container{
	display: inline-block;
	width: 180px;
	height: 100%;
	vertical-align:top;
}

input{
	align-self: center;
}

hr {
	display: block;
	position: relative;
	padding: 0;
	margin: 8px auto;
	height: 0;
	width: 100%;
	max-height: 0;
	font-size: 1px;
	line-height: 0;
	clear: both;
	border: none;
	border-top: 1px solid #aaaaaa;
	border-bottom: 1px solid white;
 }

 .barButton{
	 background-color: red;
	 width: 170px;
	 height: 60px;
	 color: white;
	 font-size: 24pt;
	 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	 text-align: center;
 }

 .barBreak{
	border-top: 1px solid #aaaaaa;
	border-bottom: 1px solid #aaaaaa;
	background: #aaaaaa;
	width: 170px;
	height: 2px;
 }

 #copyright{
	 text-align: center;
	 color: white;
	 font-size: 16px;
	 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
