body {
	background-image: url("./background_dark.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #424242;
	font-family: sans-serif;
}

@font-face {
    font-family: "Nintend";
    src: url("./Nintend Bold.otf") format("opentype");
}
#start {
	margin-top: 2px;
}